@keyframes ldio-2ijqrq6kswv {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.ldio-2ijqrq6kswv div {
  left: 98.7px;
  top: 29.400000000000002px;
  position: absolute;
  animation: ldio-2ijqrq6kswv linear 1.2987012987012987s infinite;
  background: #1d3f72;
  width: 12.600000000000001px;
  height: 25.200000000000003px;
  border-radius: 6.300000000000001px / 12.600000000000001px;
  transform-origin: 6.300000000000001px 75.60000000000001px;
}
.ldio-2ijqrq6kswv div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1904761904761905s;
  background: #1d3f72;
}
.ldio-2ijqrq6kswv div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1.0822510822510822s;
  background: #1d3f72;
}
.ldio-2ijqrq6kswv div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.974025974025974s;
  background: #1d3f72;
}
.ldio-2ijqrq6kswv div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8658008658008658s;
  background: #1d3f72;
}
.ldio-2ijqrq6kswv div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7575757575757576s;
  background: #1d3f72;
}
.ldio-2ijqrq6kswv div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6493506493506493s;
  background: #1d3f72;
}
.ldio-2ijqrq6kswv div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5411255411255411s;
  background: #1d3f72;
}
.ldio-2ijqrq6kswv div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4329004329004329s;
  background: #1d3f72;
}
.ldio-2ijqrq6kswv div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3246753246753247s;
  background: #1d3f72;
}
.ldio-2ijqrq6kswv div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.21645021645021645s;
  background: #1d3f72;
}
.ldio-2ijqrq6kswv div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.10822510822510822s;
  background: #1d3f72;
}
.ldio-2ijqrq6kswv div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
  background: #1d3f72;
}
.loadingio-spinner-spinner-ot1ush26pmo {
  width: 210px;
  height: 210px;
  display: inline-block;
  overflow: hidden;
  background: none;
}
.ldio-2ijqrq6kswv {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0;
  margin: 0 auto;
}
.ldio-2ijqrq6kswv div {
  box-sizing: content-box;
}
