.char-details {
  background-color: rgb(2, 33, 61);
  color: rgb(201, 199, 195);
  padding: 25px 25px 15px 25px;
  margin-bottom: 40px;
}

.char-details h4 {
  margin-bottom: 20px;
  text-align: center;
}

.select-error {
  color: #fff;
  text-align: center;
  font-size: 26px;
}
