.random-block {
  background-color: rgb(2, 33, 61);
  color: rgb(201, 199, 195);
  padding: 25px 25px 15px 25px;
  margin-bottom: 40px;
}
.random-block h4 {
  margin-bottom: 20px;
  text-align: center;
}
.term {
  font-weight: bold;
}

li {
  color: rgb(77, 76, 74);
}
